.page {
  background: #ffffff;
}

.nav_bar_frame {
  height: 108px;
  background: #255193;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.25);
}

.main_frame {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  color: #FFF;
  text-align: center;
  justify-content: center;
  font-family: "Jost";
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 100px;
}

.logo {
  width: 100px;
  height: 100px;
  float: left;
}

.bistro_divider {
  display: flex;
  justify-content: center;
  height: 1px;
  width: 93%;
  background: black;
  margin-left: auto;
  margin-right: auto;
}

.bistro{
  display: flex;
  width: 1280px;
  height: 40px;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  font-family: "CaviarDreams";
  font-size: 37px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-left: 85px;
  padding-top: 46px;
  padding-bottom: 20px;
  }

.food_picture {
  width: 206px;
  height: 206px;
  /* margin-left: 50px;*/
}

.food_picture:hover{
  box-shadow: 0px 0px 0px 0px;
}

.food_title {
  /* width: 174px; */
  /* height: 34px; */
  font-family: "Jost";
  color: #000;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: center;
  justify-content: center;
  flex-direction: row;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  margin-bottom: 10px;
}

.add_cart_button{
  font-family: "Jost";
  width: 210px;
  height: 33px;
  background-color: black;
  border: #255193;
  color: white;
  font-size: 20px;
  cursor: pointer;
  /* margin-left: 50px; */
}

.add_cart_button:hover{
  background-color: #18335d;
  border-color: #18335d;
}

.foodBox{
  width: 600px;
}

.text{
  height: 34px;
  font-family: "Jost";
  color: #000;
  font-size: 25px;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  margin: 3px 0px 3px 0px;

}

.food_item{
  /* border-radius: 15px; */
  display: flex;
  width: 300px;
  height: 350px;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
  align-items: center;
  margin-left: auto;
  margin-right: auto;

  font-family: "Jost";
  font-weight: 400;
  font-size: 20px;
  
}

.food_category{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 30px;
}

.product {
  align-content: space-between;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.banner{
  /* margin-top: 1px; */
  position: relative;
  width: 100%;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.25);
}

.bistro_banner{
  width: 100%;
  height: auto;
  display: block;
}

.bistro{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-85%, -59%);
  color: #fff; /* Text color */
  font-family: CaviarDreams;
  font-size: 80px; /* Adjust the font size as needed */
  font-weight: normal; /* Adjust font weight as needed */
  text-align: center;
}